<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'add1' %}"><button>Вписать</button></a>

<form action="create/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
</form>

<h2>Список</h2>
<table>
    <tr><th>ID</th><th>NAME</th><th>AGE</th></tr>
    {% for one in database %}
        <tr><td>{{ one.id }}</td><td>{{ one.name }}</td><td>{{ one.age }}</td><td><a href="{% url 'del' one.id %}">del</a></td></tr>
    {% endfor %}
</table>

</body>
</html>